<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-6">
    <!-- Gym stats -->
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Gym Stats</h5>
        <p>Days and hours spent:</p>
        <ul>
          <li>This Week: {{ gymStats?.visitsWeek }} days, {{ gymStats?.visitsWeekHours }} hours {{ gymStats?.visitsWeekMin }} minutes</li>
          <li>This Month: {{ gymStats?.visitsMonth }} days, {{ gymStats?.visitsMonthHours }} hours {{ gymStats?.visitsMonthMin }} minutes</li>
          <li>This Year: {{ gymStats?.visitsYear }} days, {{ gymStats?.visitsYearHours }} hours {{ gymStats?.visitsYearMin }} minutes</li>
          <li>Total: {{ gymStats?.visitsTotal }} days, {{ gymStats?.visitsTotalHours }} hours {{ gymStats?.visitsTotalMin }} minutes</li>
        </ul>
      </div>
    </div>

    <!-- Gym visits -->
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Gym Visits</h5>
        <div class="mb-3">
          <label for="gymSelect" class="form-label">Select Gym:</label>
          <select class="form-select" id="gymSelect" [(ngModel)]="selectedGymId" (change)="selectGym($event.target.value)">
            <option value="" selected>All</option>
            <option *ngFor="let gym of gyms" [value]="gym.id">{{ gym.name }}</option>
          </select>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let visit of gymVisits; let i = index">
            <div class="d-flex justify-content-between">
              <div>
                <h6 class="mb-0">{{ visit.enterTime | date:'EEEE, MMMM d' }}</h6>
                <small>{{ visit.enterTime | date:'h:mm a' }} - {{ visit.exitTime | date:'h:mm a' }}</small>
              </div>
              <div *ngIf="editSessionIndex !== i; else editForm">
                <button class="btn btn-primary" (click)="startEditing(i)">Edit</button>
              </div>
              <ng-template #editForm>
                <div>
                  <input type="text" class="form-control" [(ngModel)]="editedTitle" placeholder="Session Title">
                  <textarea class="form-control mt-2" rows="3" [(ngModel)]="editedNotes" placeholder="Add notes..."></textarea>
                  <button class="btn btn-success mt-2" (click)="saveChanges()">Save</button>
                  <button class="btn btn-secondary mt-2" (click)="cancelEditing()">Cancel</button>
                </div>
              </ng-template>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
