<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authenticationService.isUserAuthenticated()">
  <div class="container">
    <a class="navbar-brand" routerLink="/">PowerHouse Fitness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{'disabled-link': !user.active}">
          <a class="nav-link" [routerLink]="['/stats']">Your Stats</a>
        </li>
        <li class="nav-item" [ngClass]="{'disabled-link': !user.active}">
          <a class="nav-link" [routerLink]="['/find-gym']">Find Your Gym</a>
        </li>
        <li class="nav-item" [ngClass]="{'disabled-link': !user.active}">
          <a class="nav-link" [routerLink]="['/one-on-one-training']">One-on-One Training</a>
        </li>
        <li class="nav-item" [ngClass]="{'disabled-link': !user.active}">
          <a class="nav-link" [routerLink]="['/group-classes']">Group Classes</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/membership">Your Membership</a>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAuthenticated()">
          <span class="nav-link">Welcome, {{authenticationService.getAuthenticatedUserUsername()}}</span>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserAuthenticated()">
          <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
