<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-6 h-100">
    <div class="card mt-5 basic">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <!-- User profile picture -->
            <img [src]="user.profilePicture" alt="Profile Picture">
            <!-- Button for changing profile picture -->
            <button class="btn btn-primary" (click)="uploadProfilePicture()">Change Picture</button>
            <!-- Firstname and Lastname -->
            <h5 class="mt-3">
              <strong>{{ user.firstName }} {{ user.lastName }}</strong>
            </h5>
          </div>
          <div class="col-6 text-right">
            <!-- QR code picture -->
            <img [src]="user.qrCode" alt="QR Code">
          </div>
        </div>
        <hr>
        <!-- Number of days left in gym -->
        <p class="text-center">
          <strong>
            <ng-container *ngIf="user.daysLeft >= 0; else noDaysLeft">
              {{ user.daysLeft }} days left in membership
            </ng-container>
            <ng-template #noDaysLeft>
              You don't have any days left!
              <button class="btn btn-primary" (click)="updateMembership()">Update Membership</button>
            </ng-template>
          </strong>
        </p>
        <!-- Name of the membership -->
        <p class="text-center">Membership: {{ user.membership }}</p>
      </div>
    </div>
  </div>
</div>
