<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-6">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Find Gym</h5>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let gym of gyms">
            <div class="d-flex align-items-center">
              <img [src]="gym.profilePicture" alt="Gym Profile Picture" class="mr-3" width="50" height="50">
              <div>
                <h6 class="mb-0">{{ gym.name }}</h6>
                <p class="mb-0">{{ gym.address }}</p>
                <p class="mb-0">Opening Hours: {{ gym.openingHours }}</p>
                <p class="mb-0">People in Gym: {{ gym.peopleInGym }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
