<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-6">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Find Gym</h5>
        <ul class="list-group">
          <!-- Gym item 1 -->
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <img src="gym_profile_picture_1.jpg" alt="Gym Profile Picture" class="mr-3" width="50" height="50">
              <div>
                <h6 class="mb-0">Gym Name 1</h6>
                <p class="mb-0">Gym Address 1</p>
                <p class="mb-0">Opening Hours: 9:00 AM - 6:00 PM</p>
                <p class="mb-0">People in Gym: 15</p>
              </div>
            </div>
          </li>
          <!-- Gym item 2 -->
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <img src="gym_profile_picture_2.jpg" alt="Gym Profile Picture" class="mr-3" width="50" height="50">
              <div>
                <h6 class="mb-0">Gym Name 2</h6>
                <p class="mb-0">Gym Address 2</p>
                <p class="mb-0">Opening Hours: 8:00 AM - 9:00 PM</p>
                <p class="mb-0">People in Gym: 20</p>
              </div>
            </div>
          </li>
          <!-- Add more list items for each gym -->
        </ul>
      </div>
    </div>
  </div>
</div>
