<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-6">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Personal Trainers</h5>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let trainer of trainers">
            <div class="d-flex align-items-center">
              <img [src]="trainer.profilePicture" alt="Trainer Profile Picture" class="mr-3" width="50" height="50">
              <div>
                <h6 class="mb-0">{{ trainer.firstName }} {{ trainer.lastName }}</h6>
                <p class="mb-0">Specialty: {{ trainer.specialty }}</p>
                <p class="mb-0">Gym: {{ trainer.gym.name }}</p>
              </div>
              <button class="btn btn-primary ml-auto" [disabled]="!trainer.availability" (click)="selectTrainer(trainer)">Select</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
