<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-6">
    <div class="card mt-5">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="card-title">Group Classes</h5>
          <div class="mb-3">
            <label for="gymSelect" class="form-label">Select Gym:</label>
            <select class="form-select" id="gymSelect" [(ngModel)]="selectedGymId" (change)="onSelectGym($event)">
              <option value="" selected>All</option>
              <option *ngFor="let gym of gyms" [value]="gym.id">{{ gym.name }}</option>
            </select>
          </div>
        </div>
        <div class="calendar-container">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
