<div class="h-100">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col text-center basic2">
        <h1 class="display-3 ba text-dark">PowerHouse Fitness</h1>
        <h3 class="text-uppercase ba text-muted">Unleash Your Full Potential with Our Elite Fitness Experience.</h3>
      </div>
    </div>
    <button routerLink="/login" class="btn-custom2 back-button"><i class="bi bi-arrow-left">Go Back</i></button>
    <div class="row justify-content-center ">
      <div class="col-sm-12 col-md-10 col-lg-6 h-100">
        <div class="card mt-5 basic">
          <div class="card-body">
            <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="form-signin" name="authenticationForm">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" class="form-control" formControlName="firstname" required>
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" class="form-control" formControlName="lastname" required>
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" formControlName="username" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email" required>
                <div *ngIf="accountForm.get('email')?.invalid && (accountForm.get('email')?.dirty || accountForm.get('email')?.touched)" class="text-danger">
                  <div *ngIf="accountForm.get('email')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="accountForm.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password" required>
              </div>
              <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <input type="date" id="birthdate" class="form-control" formControlName="birthdate" required>
              </div>
              <div class="form-group">
                <label for="sex">Sex</label>
                <select id="sex" class="form-control" formControlName="sex" required>
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                  <option value="o">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" formControlName="address">
              </div>
              <div class="form-group">
                <label for="cityState">City State</label>
                <input type="text" id="cityState" class="form-control" formControlName="cityState">
              </div>
              <button type="submit" [disabled]="accountForm.invalid" class="btn-custom">Create Account</button>
              <button (click)="clearFields()" class="btn-custom2" type="button">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

